@model Firma.Data.Data.Shop.ProductType

@{
    
    ViewData["Title"] = "Dodaj nową kategorię";
}


<h4>Kategoria Produktu</h4>
<hr />
<div class="row">
    <div class="col-md-6">
      
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
               
                <label asp-for="Name" class="form-label"></label> 
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
               
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="PhotoUrl" class="control-label"></label>
                <input asp-for="PhotoUrl" class="form-control" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>

            <div class="form-group form-check mb-3">
                <input class="form-check-input" asp-for="IsFeaturedOnHomepage" />
                <label class="form-check-label" asp-for="IsFeaturedOnHomepage">@Html.DisplayNameFor(model => model.IsFeaturedOnHomepage)</label>
            </div>

            <div class="form-group mb-3">
                <label asp-for="DisplayOrderHomepage" class="control-label"></label>
                <input asp-for="DisplayOrderHomepage" class="form-control" type="number" />
                <span asp-validation-for="DisplayOrderHomepage" class="text-danger"></span>
                <small class="form-text text-muted">Wprowadź liczbę, aby ustalić kolejność (np. 1, 2, 3...). Niższa liczba = wyżej na liście. Pozostaw puste, jeśli kolejność nie jest istotna.</small>
            </div>

            <div class="mt-4">
                
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check-circle me-1"></i> Utwórz
                </button>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-left-circle me-1"></i> Anuluj i wróć do listy
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}